@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

.d-grid {
    grid-template-columns: 2fr 1fr;
}

ul li.question{
    margin-bottom: 10px;
}

ul li.question:last-child{
    margin-bottom: 0px;
}